name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    #- uses: cachix/install-nix-action@v10
    #  with:
    #    nix_path: nixpkgs=channel:nixos-unstable
    - uses: workflow/nix-shell-action@v1
      with:
        packages: jdk17_headless,python3,nodejs
        script: |
          make run
